<header>
</header>

<div class="releases">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3" id="new-version">
          <p class="title">New version:</p>
          <div class="version">
            <form>
              <div>
                <label for="date">Date</label>
                <input id="date" name="date" type="date" ng-model="$ctrl.newVersion.date" />
              </div>
              <div>
                <label for="stories">Stories</label>
                <input id="stories" name="stories" type="text" ng-model="$ctrl.newVersion.stories" />
              </div>
            </form>
            <input type="submit" ng-click="$ctrl.addVersion()" >
          </div>
        </div>
        <div class="col-lg-9" id="versions">
          <p class="title">Versions:</p>
          <div class="nav nav-tabs version" ng-repeat="version in $ctrl.versions">
            <div>Date :
              {{version.date | date:'dd/MM/yyyy'}}
            </div>
            <div>
              Stories :
              <ul class="nav" ng-repeat="story in version.stories">
                <li>
                  <a href="{{story.url}}" uib-tooltip="{{story.key}}" target="_blank">{{story.key}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
