.thing-form {
  margin: 20px 0;
}

#remove {
  cursor: pointer;
}

.version {
  border-top: 1px solid;

  .infos {
    width: 100%;

    .date {
      display: flex;
      justify-content: space-between;
    }
  }
}

#versions {
  padding-left: 0px;
}

#new-version {
  padding-left: 0;
  padding-bottom: 20px;
  form {
    div {
      margin-bottom: 0.5em;

      input {
        width: 11em;
      }
    }

    input {
      height: 2em;
    }
  }
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: black;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: rgb(160, 228, 66);;
}

.navbar-text {
  margin-left: 15px;
}
